<p id="notice"><%= notice %></p>

<h2><%= @problem.name %></h2>

<ul class="nav nav-tabs">
  <li class= "active"><a href="#">Problem</a></li>
  <li><a href="#">Submissions</a></li>
</ul>

<div class="panel-body">
  <%= markdown(@problem.long_description) %>
</div>

  <input type="button" value="Send submission" onClick="window.location='<%= new_problem_submission_path(@problem) %>'" class="btn btn-primary">
  <input type="button" value="Show submissions" onClick="window.location='<%= problem_submissions_path(@problem) %>'" class="btn btn-default">
  <input type="button" value="New test case" onClick="window.location='<%= new_problem_test_case_path(@problem) %>'" class="btn btn-default">
  <p></p>
  <input type="button" value="Edit" onClick="window.location='<%= edit_problem_path(@problem) %>'" class="btn btn-default">
  <input type="button" value="Back" onClick="window.location='<%= challenge_problems_path(@problem) %>'" class="btn btn-default">
