<p id="notice"><%= notice %></p>

<h3><%= @challenge.name %></h3>

<div>
  <%= @challenge.description %>
</div>

<p>&nbsp;</p>

<h4>Problems</h4>

<table class="table">

  <tr>
    <td>Name</td>
    <td>Description</td>
    <td></td>
  </tr>

  <% @challenge.problems.each do |problem| %>
  <tr>
    <td><%= problem.name %></td>
    <td><%= problem.short_description %></td>
    <td><%= link_to 'View problem', problem_path(problem), :method=>"get", :class=>"btn btn-default" %></td>
  </tr>
  <% end %>
  
</table>

<% if current_user.admin? %>

<%= link_to 'New problem', new_challenge_problem_path(@challenge), :class=>"btn btn-default"  %> 
<%= link_to 'Edit', edit_challenge_path(@challenge), :class=>"btn btn-default"  %> 
<%= link_to 'Back', challenges_path, :class=>"btn btn-default"  %>

<% end %>
