<h1>Test cases for <%= @problem.name %></h1>

<table class="table">
    <tr>
      <th>Input</th>
      <th>Expected output</th>
      <th>Edit</th>
    </tr>

    <% @test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.input %></td>
        <td><%= test_case.expected_output %></td>
        <td><%= button_to 'Edit', edit_test_case_path(test_case), :method=>"get" %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Test case', new_problem_test_case_path %> |
<%= link_to 'Go to problem', problem_path(@problem) %>
