<p id="notice"><%= notice %></p>

<p>
  <strong>Input:</strong>
  <%= @test_case.input %>
</p>

<p>
  <strong>Expected output:</strong>
  <%= @test_case.expected_output %>
</p>

<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', problem_test_cases_path(@test_case.problem) %>
