<!DOCTYPE html>
<html>
<head>
  <title>Code Evaluator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.ba-dotimeout.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <li><%= link_to current_user.email, "/profile" %></li>
          <li><%= link_to "Home", challenges_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<p></p>
<p>&npsp;</p>
<p>&nbsp;</p>
<p></p>
<div class ="container">
<%= yield %>
</div>
</body>
</html>
